.row {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .row:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .value {
    font-size: 78px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    margin-bottom: 3px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .button :hover{
    appearance: none;
    background: none;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    color: blue;
    padding-bottom: 4px;
    cursor: pointer;
    background-color:  rgb(238, 238, 91);
    border-radius: 2px;
    transition: all 0.15s;
    margin-left: 1%;
    margin-top: 2px;
    
     
  }
  .btnLg {
    font-size: 32px !important;

  }
  .flex {
      display: flex;
      justify-content: center;
  }
  
  li {
    font-size: 25px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    font-family: 'Courier New', Courier, monospace;
  }
  .textbox {
    font-size: 20px;
    padding: 2px;
    width: 25%;
    text-align: center;
    margin-right: 8px;
  }
  
  .button:hover, .button:focus {
    border: 2px solid rgb(238, 238, 91);
    background-color: rgb(238, 238, 91);
    color: green;

    text-decoration: none;
  }
  
  .button:active {
    background-color: rgb(238, 238, 91);
  }
  
  .asyncButton {
    composes: button;
    position: relative;
    margin-left: 8px;
  }
  
  .asyncButton:after {
    content: "";
    background-color: rgb(238, 238, 91);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: width 1s linear, opacity 0.5s ease 1s;
  }
  
  .asyncButton:active:after {
    width: 0%;
    opacity: 1;
    transition: 0s
  }
  